body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(56, 5, 101);
}
h1{
    font-size: 5rem;
}
.letter {
    transition: color 1000ms;
}